/* You can add global styles to this file, and also import other style files */
.Warninig {
    background-color: red;
    border: rgb(251 116 116) 2px solid;
    padding: 0px 9px 0px 20px;
    width: 200px !important;
    border-radius: 25px;
}
.Warninig p{
    color: white;
}

.success{
    background-color: palegreen;
    border: green 2px solid;
    padding: 0px 9px 0px 20px;
    width: 200px !important;
    border-radius: 25px;
    margin-bottom: 20px;

}
.success p{
    color: green;
}